* {
    margin: 0;
    padding: 0;
}

.mainContainer {
    background-color: black;
}

.subContainer {
    height: 100%;
    /* margin: 0 100px 0 100px; */
    background-color: white;
    padding: 16px 16px 16px 16px;
}

.container {
    width: 200px;
    height: 270px;
    background-color: rgb(206, 171, 106);
    margin: 16px 16px 16px 16px;
    display: flex;
    align-items: center;
}

#book-title {
    width: 150px;
    margin: 0px 0 0px 10px;
    padding: 10px;
    border: 2px solid black;
}

#book-author {
    width: 150px;
    margin: 0px 0 0px 10px;
    padding: 10px;
    border: 2px solid black;
}

#book-comments {
    width: 150px;
    margin: 0px 0 0px 10px;
    padding: 10px;
    border: 2px solid black;
}

#submit {
    width: 150px;
    margin: 10px 0 10px 20px;
    padding: 10px;
    background-color: black;
    color: white;
}

#submit:hover {
    background-color: rgb(63, 55, 55);
    cursor: pointer;
}

.error {
    color: red;
    padding-left: 10px;
}

#card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
}

#card div {
    margin: 10px 10px;
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px;
    align-items: center;
    background-color: rgb(206, 171, 106);
}

#card p1 {
    color: white;
    font-size: 20px;
}

#card p2 {
    color: white;
    font-size: 20px;
}

#card p3 {
    color: white;
    font-size: 16px;
    text-align: center;
}

#card button {
    margin: 0px 10px;
    width: 70px;
    height: 30px;
    background-color: black;
    color: white;
}

#card button:hover{
    cursor: pointer;
}